@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Free Games Database Early Prototype</h1>
    <p class="lead">A quick way to access a free games database.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Explanation</h2>
        <p>
            The prototype uses the FreeToGame API to collect a game's information based on its id.'
        </p>
        <p><a class="btn btn-default" href="https://www.freetogame.com/api-doc">Original Website's API &raquo;</a></p>
    </div>